


.posts {
    max-width: 720px;
    margin: 5rem auto 0;

    a {
        display: block;

        & + a {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 1px solid var(--gray-700);
        }

        time {
            font-size: 1rem;
            display: flex;
            align-items: center;
            color: var(--gray-300);
        }
        .postBody {

            strong {
                display: block;
                font-size: 1.75rem;
                margin-top: 1rem;
                line-height: 2rem;
            }
    
            p {
                margin-top: 0.5rem;
                color: var(--color-subtitle);
                line-height: 1.625rem;
                font-size: 1.125rem;
            }
        }

        &:hover strong{
            color: var(--yellow-500);
        }
    }

    .info {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: row;
        font-size: 0.875rem;
        margin-top: 1.5rem;
        color: var(--color-info);

        time {
            font-size: 0.875rem;
            margin-right: 1.25rem;
            margin-left: 0.5rem;
        }
        p {
            margin-left: 0.5rem;
        }

    }

    .buttonLoad {
        padding-top: 4rem;
        color: #FF57B2;
        font-size: 1.125rem;
        cursor: pointer;
    }
}