.headerContainer {
    height: 6.563;
    border-bottom: 1px solid var(--gray-800);
}
.headerContent {
    max-width: 1120px;
    height: 5rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;


}